In [1]:
from OTD_KNN_Module import *
model = OTD_Compliance_model('model1','scaler1')
model.load_and_clean_data('OTD_New_Copy.csv')
model.predicted_outputs()

,Aba Depot,Enugu Depot,MFA,Owerri Depot,Port Harcourt II Depot,Port Harcourt Depot,Uyo Depot,Month Value,Day of the week,Night Driving,Customer Type,Quantity,Safety Violation,Probability,Prediction
0,0,1,0,0,0,0,0,2,2,1,0,20.0,0,1.0,1
1,0,1,0,0,0,0,0,2,0,1,0,20.0,0,1.0,1
2,0,1,0,0,0,0,0,2,4,0,0,20.0,1,0.2,0
3,0,1,0,0,0,0,0,2,0,1,0,20.0,0,1.0,1
4,0,1,0,0,0,0,0,2,1,1,0,20.0,0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5816,0,0,1,0,0,0,0,1,3,0,0,40.0,1,0.0,0
5817,0,0,0,1,0,0,0,1,2,1,0,40.0,1,0.8,1
5818,0,0,1,0,0,0,0,2,5,0,0,40.0,1,0.0,0
5819,0,0,1,0,0,0,0,2,3,1,0,40.0,0,0.6,1
5820,0,0,1,0,0,0,0,2,2,1,0,40.0,0,0.8,1

In [2]:
df = model.predicted_outputs()
df['Night Driving'] = df['Night Driving'].map({1: 'YES', 0: 'NO'})
df['Customer Type'] = df['Customer Type'].map({1: 'Key', 0: 'Trade'})
df['Safety Violation'] = df['Safety Violation'].map({0: 'NO VIOLATION', 1: 'VIOLATED'})
df['Month Value'] = df['Month Value'].map({1: 'January', 2: 'February',  3: 'March', 4: 'April', 5: 'May',  6: 'June', 
                                           7: 'July',  8: 'August',  9: 'September', 10: 'October', 11: 'November', 
                                           12: 'December'})
df['Day of the week'] = df['Day of the week'].map({2: 'Tuesday'  , 0: 'Sunday', 4: 'Thursday', 1: 'Monday' , 6: 'Saturday' ,
                                                   3: 'Wednesday' , 5: 'Friday' })
df.head()

,Aba Depot,Enugu Depot,MFA,Owerri Depot,Port Harcourt II Depot,Port Harcourt Depot,Uyo Depot,Month Value,Day of the week,Night Driving,Customer Type,Quantity,Safety Violation,Probability,Prediction
0,0,1,0,0,0,0,0,February,Tuesday,YES,Trade,20.0,NO VIOLATION,1.0,1
1,0,1,0,0,0,0,0,February,Sunday,YES,Trade,20.0,NO VIOLATION,1.0,1
2,0,1,0,0,0,0,0,February,Thursday,NO,Trade,20.0,VIOLATED,0.2,0
3,0,1,0,0,0,0,0,February,Sunday,YES,Trade,20.0,NO VIOLATION,1.0,1
4,0,1,0,0,0,0,0,February,Monday,YES,Trade,20.0,NO VIOLATION,1.0,1

In [3]:
df.to_csv('OTD_Compliance_predictions.csv', index = False)